a:hover {
	text-decoration: underline;
}


.button:hover {
	background: #2c2899;
	text-decoration: none;
}

.button--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}
.button--green {
	background: #7b7b;
}
